/* Font imports must be placed on top */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Dela+Gothic+One&family=Manrope:wght@200;300;400;500;600;700;800&family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #C3CAD0;
}

main, header {
    padding: 0 2rem 0 2rem;  
    box-sizing: border-box;
}

/* 1024px = tailwind md screen value */
@media screen and (min-width: 1024px) {
    main, header {
        padding: 0 4rem 0 4rem;
    }
}